.icon {
  transition: all 250ms;

  &--no-item {
    fill: $color-grey-dark-1;
  }

  &--right {
    fill: $color-green-right;
    transform: scale(1);
  }

  &--wrong {
    fill: $color-secondary-dark;
    transform: scale(1);
  }

  &--options {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;

    &:hover {
      transform: scale(1.2);
    }
  }

  &--edit {
    fill: $color-primary-dark;
    transform: scale(1);
  }

  &--delete {
    fill: $color-secondary-dark;
    transform: scale(1);
  }

  &--add {
    fill: $color-green-right;
    transform: scale(1);
  }

  &--card {
    width: 3.75rem;
    height: 1.75rem;

    &:hover {
      transform: scale(1.2);
    }

    &-right {
      margin-right: 2rem;
    }
  }

  &__search {
    width: 1.5rem;
    height: 1.5rem;

    &--next {
      fill: $color-green-right;
    }

    &--prev {
      fill: $color-tertiary-2;
    }
  }

  &--make-card {
    width: 5rem;

    // drop-shadow on svg (not working supposedly)
    // filter: drop-shadow(0 0.8rme 1rem rgba(#000, 0.2));
    // -webkit-filter: drop-shadow(0 0.8rme 1rem rgba(#000, 0.2));

    &-left {
      fill: $color-secondary-dark;
    }

    &:hover {
      transform: scale(1.3);
    }
  }

  &__make-deck,
  &__view-classroom,
  &__make-classroom {
    &--card,
    &--user {
      width: 3rem;
      height: 3rem;
      margin: 0 2rem;
      fill: $color-secondary;
    }
  }

  &--make-deck {
    width: 4rem;
    height: 4rem;
    transform: scale(1);

    &:hover {
      transform: scale(1.2);
    }
  }

  &--make-classroom {
    width: 4rem;
    height: 4rem;

    &:hover {
      transform: scale(1.2);
    }
  }
}
